
$color-1: #243040; // Ebony Clay
$color-2: #9cb3a8; // Pewter
$color-3: #ffffff; // White

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

$animation-duration: 0.7s;

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;

@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      @if $prefix-for-webkit {
        -webkit-#{$property}: $value;
      }
    } @else if $prefix == moz {
      @if $prefix-for-mozilla {
        -moz-#{$property}: $value;
      }
    } @else if $prefix == ms {
      @if $prefix-for-microsoft {
        -ms-#{$property}: $value;
      }
    } @else if $prefix == o {
      @if $prefix-for-opera {
        -o-#{$property}: $value;
      }
    } @else if $prefix == spec {
      @if $prefix-for-spec {
        #{$property}: $value;
      }
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin transform($property: none) {
  @include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin transform-origin($axes: 50%) {
  @include prefixer(transform-origin, $axes, webkit moz ms o spec);
}

@mixin transition($properties...) {
  $needs-prefixes: false;
  $webkit: ();
  $moz: ();
  $spec: ();

  @each $list in $properties {
    @if nth($list, 1) == "transform" {
      $needs-prefixes: true;
      $list1: -webkit-transform;
      $list2: -moz-transform;
      $list3: ();

      @each $var in $list {
        $list3: join($list3, $var);

        @if $var != "transform" {
          $list1: join($list1, $var);
          $list2: join($list2, $var);
        }
      }

      $webkit: append($webkit, $list1);
      $moz:    append($moz,    $list2);
      $spec:   append($spec,   $list3);
    } @else {
      $webkit: append($webkit, $list, comma);
      $moz:    append($moz,    $list, comma);
      $spec:   append($spec,   $list, comma);
    }
  }

  @if $needs-prefixes {
    -webkit-transition: $webkit;
       -moz-transition: $moz;
            transition: $spec;
  } @else {
    @if length($properties) >= 1 {
      @include prefixer(transition, $properties, webkit moz spec);
    } @else {
      $properties: all 0.15s ease-out 0s;
      @include prefixer(transition, $properties, webkit moz spec);
    }
  }
}

@mixin transition-timing-function($motions...) {
  @include prefixer(transition-timing-function, $motions, webkit moz spec);
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

a {
	text-decoration: none;
}

body {
  background-color: #9cb3a8;
  overflow-x: hidden; 
}

.main {
  position: relative;
  z-index: 2;
  height: 100%;

  height: 100vh;
  overflow-y: auto;
  
  -webkit-overflow-scrolling: touch;
  background-color: $color-2;
  
  @include transform(translateZ(0));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include transition(transform $animation-duration);
  @include transition-timing-function(cubic-bezier(.91,.01,.6,.99)); 

  .navigation-is-open & {
    @include transform(translateX(100%));
  }
}

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: $color-1;
  border-radius: 50%;
  
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  @include transition(transform $animation-duration - 0.2s);

  .cd-nav-icon {
    position: absolute;
    @include center;
    width: 22px;
    height: 2px;
    background-color: $color-3;

    &::before, &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; 
      background-color: inherit;

      @include transform(translateZ(0));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      @include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s, top .3s);
    }

    &::before {
      @include transform-origin(right top);
      @include transform(translateY(-6px));
    }

    &::after {
      @include transform-origin(right bottom);
      @include transform(translateY(6px));
    }

  }

  .no-touch &:hover .cd-nav-icon::after {
    top: 2px;
  } 

  .no-touch &:hover .cd-nav-icon::before {
    top: -2px;
  } 

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  circle {
    @include transition(stroke-dashoffset $animation-duration - 0.3s 0s);
  }

  .navigation-is-open & {
    @include transform(rotate(180deg));

    .cd-nav-icon::after, 
    .cd-nav-icon::before {
      width: 50%;
      @include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s);
    }

    .cd-nav-icon::before {
      @include transform(rotate(45deg));
    }

    .cd-nav-icon::after {
      @include transform(rotate(-45deg));
    }

    .no-touch &:hover .cd-nav-icon::after,
    .no-touch &:hover .cd-nav-icon::before {
      top: 0;
    } 

    circle {
      stroke-dashoffset: 0;
      @include transition(stroke-dashoffset $animation-duration - 0.3s 0.3s);
    }
  }
}

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-1;
  visibility: hidden;
  @include transition(visibility 0s $animation-duration);

  .cd-navigation-wrapper {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    
    @include transform(translateZ(0));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include transform(translateX(-50%));
    @include transition(transform $animation-duration);
    @include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
  }

  .navigation-is-open & {
    visibility: visible;
    @include transition(visibility 0s 0s);
    
    .cd-navigation-wrapper {
      @include transform(translateX(0));
      @include transition(transform $animation-duration - 0.2s);
      @include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
    }
  }
}

.content-wrapper {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.title-block {
  padding-top: 100px;
  h1 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color:  #29323c;
  }

  p {
    font-family: 'Open Sans';
    color:  rgba(41, 50, 60, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    padding: 16px 0;
  }

  .line {
    background-color: rgba(41, 50, 60, 0.8);
    width: 40px;
    height: 3px;
    margin: 0 auto;
  }

  &.white {
    h1 {
      color:  #f2f2f2;
    }

    p {
      color:  rgba(242, 242, 242, 0.8);
    }

    .line {
      background-color:  rgba(242, 242, 242, 0.8);
    }
  }
}

.services-section {
  background-color:  #f5f5f5;

  .content-wrapper {
    padding-top: 60px;
    padding-bottom: 100px;

    .item {
      display: inline-block; 
      width: 265px;
      vertical-align: top;
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }

      .circle {
        border-radius: 50%;
        background: -webkit-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: -moz-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: -o-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: -ms-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        width: 120px;
        height: 120px;
        margin: 0 auto;
        cursor: pointer;

        &:hover {       
          @include transform(rotateZ(360deg));
          @include transition(transform 0.5s ease-in-out);
        }

        img {
          padding-top: 30px;
        }
      }


      h2 {
        font-family: Montserrat;
        color:  #29323c;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
      }

      p {
        font-family: 'Open Sans';
        color:  rgba(41, 50, 60, 0.8);
        font-size: 14px; 
        font-weight: 400;
        line-height: 22px;
        text-align: center;
      }
    }
  }
}

.works-section {
  background-color: white;

  .gallery {
    width: 100%;

    & > ul {

      width: 100%;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      li {
        width: 25%;
        height: 300px;
        float: left;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .work {
          width: 100%;
          position: absolute;
          overflow: hidden;
          height: 300px;
          z-index: 1;

          img {
            max-width: none;
            width: -webkit-calc(100% + 60px);
            height: auto;
            opacity: 1;
            @include transition(all  0.5s ease-in-out);
          }

          &.first-hover {
            background: #7891A0;

            figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 1.5em;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              box-sizing: border-box;
              font-family: Montserrat;

              p {
                letter-spacing: 1px;
                font-size: 68.5%;
                padding: 0 10px 0 0;
                width: 50%;
                border-right: 1px solid #fff;
                text-align: right;
                opacity: 0;
                @include transition(all  0.5s ease-in-out);
                @include transform(translate3d(-40px,0,0));
              }

              h2 {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 1em 1.2em;
                box-sizing: border-box;
                opacity: 0;
                @include transition(all  0.5s ease-in-out);
              }
            }

            img {
              @include transform(translate3d(-30px,0,0) scale(1.12));
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
            }

            &:hover {
              img {
                 @include transform(translate3d(0,0,0) scale(1));
                 opacity: 0.5;
              }

              figcaption {
                p {
                  opacity: 1;
                  @include transform(translate3d(0,0,0));
                }

                h2 {
                  opacity: 1;
                }
              }
            }
          }

          &.second-hover {
            background: #6DA4C0;

            img {
              @include transform(translate3d(0,-30px,0));
            }

            figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 3em;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              box-sizing: border-box;
              font-family: Montserrat;

              h2 {
                padding-top: 18%;
                opacity: 0;
                @include transform(translate3d(0,-30px,0));
                @include transition(all  0.5s ease-in-out);
                text-align: center;
              }

              p {
                opacity: 0;
                @include transform(translate3d(0,0,0));
                @include transition(all  0.5s ease-in-out);
                text-align: center;
                padding: 0.5em 2em;
                letter-spacing: 1px;
                font-size: 63.5%;
              }

              &:before, &:after {
                position: absolute;
                content: '';
                opacity: 0;
                @include transition(all  0.5s ease-in-out);
              }

              &:before {
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                @include transform(scale(0,1));
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
              }

              &:after {
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                @include transform(scale(1,0));
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
              }
            }

            &:hover {
              img {
                opacity: 0.7;
                @include transform(translate3d(0,0,0));
              }

              figcaption {

                h2 {
                  opacity: 1;
                  @include transform(translate3d(0,0,0));
                }

                p {
                  opacity: 1;
                  @include transform(translate3d(0,10px,0));
                }

                &:before {
                  @include transform(scale(1));
                  opacity: 1;
                }

                &:after {
                  opacity: 1;
                  @include transform(scale(1));
                }
              }
            }
          }

          &.third-hover {
            background: #3498db;

            img {
              @include transform(scale3d(1.05,1.05,1));
              opacity: 0.95;
            }

            figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 2em;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              font-family: Montserrat;
              box-sizing: border-box;

              p {
                letter-spacing: 1px;
                font-size: 68.5%;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 3em;
                padding: 0 1em;
                max-width: 150px;
                border-right: 4px solid #fff;
                text-align: right;
                opacity: 0;
                @include transition(all  0.35s ease-in-out);
              }

              h2 {
                text-align: left;
                opacity: 0;
              }

              &:before {
                position: absolute;
                top: 0;
                box-sizing: border-box;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,0.5);
                content: '';
                @include transition(all  0.5s ease-in-out);
                @include transform(scale3d(1.9,1.65,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0));
              }

            }

            &:hover {
              img {
                opacity: 0.6;
                @include transform(scale3d(1,1,1));
              }

              figcaption {
                &:before {
                  @include transform(scale3d(1.9,1.65,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0));
                }

                p {
                  opacity: 1;
                  -webkit-transition-delay: 0.1s;
                  transition-delay: 0.1s;
                }

                h2 {
                  opacity: 1;
                  -webkit-transition-delay: 0.1s;
                  transition-delay: 0.1s;
                }
              }

            }
          }

          &.fourth-hover {
            background: -webkit-linear-gradient(45deg, #58B8B4 0%, #1B669B 40%, #78ABFA 100%);
            background: linear-gradient(45deg, #58B8B4 0%, #1B669B 40%, #78ABFA 100%);

            img {
              opacity: 0.9;
            }

            figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 3em;
              background-color: rgba(42, 53, 58, 0.3);
              box-sizing: border-box;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              font-family: Montserrat;
              
              h2 {
                margin: 20% 0 10px 0;
                text-align: center;
                @include transition(all  0.5s ease-in-out);
                opacity: 0;
                @include transform(translate3d(0,100%,0));
              }

              p {
                letter-spacing: 1px;
                font-size: 68.5%;
                @include transform(scale(0));
                @include transition(all  0.5s ease-in-out);
                opacity: 0;

              }

              &:before {
                content: '';
                position: absolute;
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                border: 1px solid #fff;              
                opacity: 0;
                @include transform(scale(0));
                @include transition(all  0.5s ease-in-out);
              }
            }

            &:hover {

              img {
                opacity: 0.5;
              }

              figcaption {
                &:before {
                  @include transform(scale(1));
                  opacity: 1;
                }

                h2 {
                  opacity: 1;
                  @include transform(translate3d(0,0,0));
                }

                p {
                  @include transform(scale(1));
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.cards-section {
  background: url(../images/cards-bg.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 99px;

  .content-wrapper {
    padding-top: 85px;
    padding-bottom: 93px;
  } 

  .full-team {
    display: block;
    border: 1px #f2f2f2 solid;
    width: 200px;
    height: 40px;
    font-family: Montserrat;
    color:  #e8e8e8;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
  }

  .card {
    width: 270px;
    height: 415px;
    margin:0 auto;
    position:relative;
    z-index:1;
    perspective:600px;
    display: inline-block;
    margin-right: 28px;

    &:last-of-type {
      margin-right: 0;
    }

    .front, .back {
      height:100%;
      width:100%;
      position:absolute;
      left:0;
      top:0;
      transform-style:preserve-3d;
      backface-visibility:hidden;
      box-shadow:0 0 10px rgba(0,0,0,.2);
      @include transition(transform 0.5s ease-in-out);
    }

    .front {
      @include transform(rotateY(0deg));
      overflow:hidden;
      z-index:1;

      .image {
        width: 270px;
        height: 270px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .content {
        width: 100%;
        height: 145px;
        background-color:  rgba(242, 242, 242, 0.75);

        .name {
          font-family: Montserrat;
          color:  #29323c;
          font-size: 15px;
          font-weight: 700;
          line-height: 20px;
          text-align: center;
          padding-top: 28px;
        }

        .position {
          font-family: Montserrat;
          color:  rgba(41, 50, 60, 0.8);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
        }

        .social-bar {
          padding-top: 20px;
          text-align: center;

          a {
            display: inline-block;
            text-decoration: none;
            width: 28px;
            height: 28px;
            color:  #29323c;
            border-radius: 50%;
            text-align: center;
            line-height: 33px;

            i {
              font-size: 21px;
            }

            &:hover {
              color: rgba(242, 242, 242, 0.88);
              background-color: #29323c;
            }
          }
        }
      }
    }

    .back {
      @include transform(rotateY(180deg));
      background-color:rgba(255,255,255,.6);
      z-index: 2;
      
      box-sizing: border-box;

      .back-info {
        text-align:justify;
        text-justify: inter-word;
        padding:35px;

        p {
          font-family: 'Open Sans';
          color:  #2b3746;
        }
      }

      .social-bar {
          text-align: center;

          a {
            display: inline-block;
            text-decoration: none;
            width: 28px;
            height: 28px;
            color:  #29323c;
            border-radius: 50%;
            text-align: center;
            line-height: 33px;

            i {
              font-size: 21px;
            }

            &:hover {
              color: rgba(242, 242, 242, 0.88);
              background-color: #29323c;
            }
          }
        }
    }

    &.flip:nth-child(even) .front {
      @include transform(rotateY(180deg));
    }

    &.flip:nth-child(even) .back {
      @include transform(rotateY(360deg));
    }

    &.flip:nth-child(odd) .front {
      @include transform(rotateY(-180deg));
    }

    &.flip:nth-child(odd) .back {
      @include transform(rotateY(0deg));
    }
  }
}