a {
  text-decoration: none; }

body {
  background-color: #9cb3a8;
  overflow-x: hidden; }

.main {
  position: relative;
  z-index: 2;
  height: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #9cb3a8;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); }
  .navigation-is-open .main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #243040;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }
  .cd-nav-trigger .cd-nav-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #ffffff; }
    .cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
      -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
      transition: transform 0.5s, width 0.5s, top 0.3s; }
    .cd-nav-trigger .cd-nav-icon::before {
      -webkit-transform-origin: right top;
      -moz-transform-origin: right top;
      -ms-transform-origin: right top;
      -o-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .cd-nav-trigger .cd-nav-icon::after {
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
    top: 2px; }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
    top: -2px; }
  .cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0; }
  .cd-nav-trigger circle {
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s; }
  .navigation-is-open .cd-nav-trigger {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
      width: 50%;
      -webkit-transition: -webkit-transform 0.5s, width 0.5s;
      -moz-transition: -moz-transform 0.5s, width 0.5s;
      transition: transform 0.5s, width 0.5s; }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
      top: 0; }
    .navigation-is-open .cd-nav-trigger circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset 0.4s 0.3s;
      -moz-transition: stroke-dashoffset 0.4s 0.3s;
      transition: stroke-dashoffset 0.4s 0.3s; }

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #243040;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s; }
  .cd-nav .cd-navigation-wrapper {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); }
  .navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
    .navigation-is-open .cd-nav .cd-navigation-wrapper {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); }

.content-wrapper {
  width: 1170px;
  margin: 0 auto;
  text-align: center; }

.title-block {
  padding-top: 100px; }
  .title-block h1 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #29323c; }
  .title-block p {
    font-family: 'Open Sans';
    color: rgba(41, 50, 60, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    padding: 16px 0; }
  .title-block .line {
    background-color: rgba(41, 50, 60, 0.8);
    width: 40px;
    height: 3px;
    margin: 0 auto; }
  .title-block.white h1 {
    color: #f2f2f2; }
  .title-block.white p {
    color: rgba(242, 242, 242, 0.8); }
  .title-block.white .line {
    background-color: rgba(242, 242, 242, 0.8); }

.services-section {
  background-color: #f5f5f5; }
  .services-section .content-wrapper {
    padding-top: 60px;
    padding-bottom: 100px; }
    .services-section .content-wrapper .item {
      display: inline-block;
      width: 265px;
      vertical-align: top;
      margin-right: 30px; }
      .services-section .content-wrapper .item:last-of-type {
        margin-right: 0; }
      .services-section .content-wrapper .item .circle {
        border-radius: 50%;
        background: -webkit-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: -moz-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: -o-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: -ms-radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        background: radial-gradient(circle closest-side at 50%, #485563 0%, #29323c 100%);
        width: 120px;
        height: 120px;
        margin: 0 auto;
        cursor: pointer; }
        .services-section .content-wrapper .item .circle:hover {
          -webkit-transform: rotateZ(360deg);
          -moz-transform: rotateZ(360deg);
          -ms-transform: rotateZ(360deg);
          -o-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
          -webkit-transition: -webkit-transform 0.5s ease-in-out;
          -moz-transition: -moz-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out; }
        .services-section .content-wrapper .item .circle img {
          padding-top: 30px; }
      .services-section .content-wrapper .item h2 {
        font-family: Montserrat;
        color: #29323c;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        text-align: center; }
      .services-section .content-wrapper .item p {
        font-family: 'Open Sans';
        color: rgba(41, 50, 60, 0.8);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center; }

.works-section {
  background-color: white; }
  .works-section .gallery {
    width: 100%; }
    .works-section .gallery > ul {
      width: 100%; }
      .works-section .gallery > ul:after {
        content: '';
        display: table;
        clear: both; }
      .works-section .gallery > ul li {
        width: 25%;
        height: 300px;
        float: left;
        position: relative;
        overflow: hidden;
        cursor: pointer; }
        .works-section .gallery > ul li .work {
          width: 100%;
          position: absolute;
          overflow: hidden;
          height: 300px;
          z-index: 1; }
          .works-section .gallery > ul li .work img {
            max-width: none;
            width: -webkit-calc(100% + 60px);
            height: auto;
            opacity: 1;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
          .works-section .gallery > ul li .work.first-hover {
            background: #7891A0; }
            .works-section .gallery > ul li .work.first-hover figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 1.5em;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              box-sizing: border-box;
              font-family: Montserrat; }
              .works-section .gallery > ul li .work.first-hover figcaption p {
                letter-spacing: 1px;
                font-size: 68.5%;
                padding: 0 10px 0 0;
                width: 50%;
                border-right: 1px solid #fff;
                text-align: right;
                opacity: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                -webkit-transform: translate3d(-40px, 0, 0);
                -moz-transform: translate3d(-40px, 0, 0);
                -ms-transform: translate3d(-40px, 0, 0);
                -o-transform: translate3d(-40px, 0, 0);
                transform: translate3d(-40px, 0, 0); }
              .works-section .gallery > ul li .work.first-hover figcaption h2 {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 1em 1.2em;
                box-sizing: border-box;
                opacity: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out; }
            .works-section .gallery > ul li .work.first-hover img {
              -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
              -moz-transform: translate3d(-30px, 0, 0) scale(1.12);
              -ms-transform: translate3d(-30px, 0, 0) scale(1.12);
              -o-transform: translate3d(-30px, 0, 0) scale(1.12);
              transform: translate3d(-30px, 0, 0) scale(1.12);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
            .works-section .gallery > ul li .work.first-hover:hover img {
              -webkit-transform: translate3d(0, 0, 0) scale(1);
              -moz-transform: translate3d(0, 0, 0) scale(1);
              -ms-transform: translate3d(0, 0, 0) scale(1);
              -o-transform: translate3d(0, 0, 0) scale(1);
              transform: translate3d(0, 0, 0) scale(1);
              opacity: 0.5; }
            .works-section .gallery > ul li .work.first-hover:hover figcaption p {
              opacity: 1;
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
            .works-section .gallery > ul li .work.first-hover:hover figcaption h2 {
              opacity: 1; }
          .works-section .gallery > ul li .work.second-hover {
            background: #6DA4C0; }
            .works-section .gallery > ul li .work.second-hover img {
              -webkit-transform: translate3d(0, -30px, 0);
              -moz-transform: translate3d(0, -30px, 0);
              -ms-transform: translate3d(0, -30px, 0);
              -o-transform: translate3d(0, -30px, 0);
              transform: translate3d(0, -30px, 0); }
            .works-section .gallery > ul li .work.second-hover figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 3em;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              box-sizing: border-box;
              font-family: Montserrat; }
              .works-section .gallery > ul li .work.second-hover figcaption h2 {
                padding-top: 18%;
                opacity: 0;
                -webkit-transform: translate3d(0, -30px, 0);
                -moz-transform: translate3d(0, -30px, 0);
                -ms-transform: translate3d(0, -30px, 0);
                -o-transform: translate3d(0, -30px, 0);
                transform: translate3d(0, -30px, 0);
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                text-align: center; }
              .works-section .gallery > ul li .work.second-hover figcaption p {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                text-align: center;
                padding: 0.5em 2em;
                letter-spacing: 1px;
                font-size: 63.5%; }
              .works-section .gallery > ul li .work.second-hover figcaption:before, .works-section .gallery > ul li .work.second-hover figcaption:after {
                position: absolute;
                content: '';
                opacity: 0;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out; }
              .works-section .gallery > ul li .work.second-hover figcaption:before {
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: scale(0, 1);
                -moz-transform: scale(0, 1);
                -ms-transform: scale(0, 1);
                -o-transform: scale(0, 1);
                transform: scale(0, 1);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0; }
              .works-section .gallery > ul li .work.second-hover figcaption:after {
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                -webkit-transform: scale(1, 0);
                -moz-transform: scale(1, 0);
                -ms-transform: scale(1, 0);
                -o-transform: scale(1, 0);
                transform: scale(1, 0);
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0; }
            .works-section .gallery > ul li .work.second-hover:hover img {
              opacity: 0.7;
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
            .works-section .gallery > ul li .work.second-hover:hover figcaption h2 {
              opacity: 1;
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
            .works-section .gallery > ul li .work.second-hover:hover figcaption p {
              opacity: 1;
              -webkit-transform: translate3d(0, 10px, 0);
              -moz-transform: translate3d(0, 10px, 0);
              -ms-transform: translate3d(0, 10px, 0);
              -o-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0); }
            .works-section .gallery > ul li .work.second-hover:hover figcaption:before {
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
              opacity: 1; }
            .works-section .gallery > ul li .work.second-hover:hover figcaption:after {
              opacity: 1;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1); }
          .works-section .gallery > ul li .work.third-hover {
            background: #3498db; }
            .works-section .gallery > ul li .work.third-hover img {
              -webkit-transform: scale3d(1.05, 1.05, 1);
              -moz-transform: scale3d(1.05, 1.05, 1);
              -ms-transform: scale3d(1.05, 1.05, 1);
              -o-transform: scale3d(1.05, 1.05, 1);
              transform: scale3d(1.05, 1.05, 1);
              opacity: 0.95; }
            .works-section .gallery > ul li .work.third-hover figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 2em;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              font-family: Montserrat;
              box-sizing: border-box; }
              .works-section .gallery > ul li .work.third-hover figcaption p {
                letter-spacing: 1px;
                font-size: 68.5%;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 3em;
                padding: 0 1em;
                max-width: 150px;
                border-right: 4px solid #fff;
                text-align: right;
                opacity: 0;
                -webkit-transition: all 0.35s ease-in-out;
                -moz-transition: all 0.35s ease-in-out;
                transition: all 0.35s ease-in-out; }
              .works-section .gallery > ul li .work.third-hover figcaption h2 {
                text-align: left;
                opacity: 0; }
              .works-section .gallery > ul li .work.third-hover figcaption:before {
                position: absolute;
                top: 0;
                box-sizing: border-box;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                content: '';
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                -webkit-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                -moz-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                -ms-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                -o-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
            .works-section .gallery > ul li .work.third-hover:hover img {
              opacity: 0.6;
              -webkit-transform: scale3d(1, 1, 1);
              -moz-transform: scale3d(1, 1, 1);
              -ms-transform: scale3d(1, 1, 1);
              -o-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1); }
            .works-section .gallery > ul li .work.third-hover:hover figcaption:before {
              -webkit-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
              -moz-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
              -ms-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
              -o-transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
              transform: scale3d(1.9, 1.65, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }
            .works-section .gallery > ul li .work.third-hover:hover figcaption p {
              opacity: 1;
              -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
            .works-section .gallery > ul li .work.third-hover:hover figcaption h2 {
              opacity: 1;
              -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
          .works-section .gallery > ul li .work.fourth-hover {
            background: -webkit-linear-gradient(45deg, #58B8B4 0%, #1B669B 40%, #78ABFA 100%);
            background: linear-gradient(45deg, #58B8B4 0%, #1B669B 40%, #78ABFA 100%); }
            .works-section .gallery > ul li .work.fourth-hover img {
              opacity: 0.9; }
            .works-section .gallery > ul li .work.fourth-hover figcaption {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 3em;
              background-color: rgba(42, 53, 58, 0.3);
              box-sizing: border-box;
              color: #fff;
              text-transform: uppercase;
              font-size: 1.25em;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              font-family: Montserrat; }
              .works-section .gallery > ul li .work.fourth-hover figcaption h2 {
                margin: 20% 0 10px 0;
                text-align: center;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                -moz-transform: translate3d(0, 100%, 0);
                -ms-transform: translate3d(0, 100%, 0);
                -o-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0); }
              .works-section .gallery > ul li .work.fourth-hover figcaption p {
                letter-spacing: 1px;
                font-size: 68.5%;
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                opacity: 0; }
              .works-section .gallery > ul li .work.fourth-hover figcaption:before {
                content: '';
                position: absolute;
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                border: 1px solid #fff;
                opacity: 0;
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out; }
            .works-section .gallery > ul li .work.fourth-hover:hover img {
              opacity: 0.5; }
            .works-section .gallery > ul li .work.fourth-hover:hover figcaption:before {
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
              opacity: 1; }
            .works-section .gallery > ul li .work.fourth-hover:hover figcaption h2 {
              opacity: 1;
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
            .works-section .gallery > ul li .work.fourth-hover:hover figcaption p {
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
              opacity: 1; }

.cards-section {
  background: url(../images/cards-bg.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 99px; }
  .cards-section .content-wrapper {
    padding-top: 85px;
    padding-bottom: 93px; }
  .cards-section .full-team {
    display: block;
    border: 1px #f2f2f2 solid;
    width: 200px;
    height: 40px;
    font-family: Montserrat;
    color: #e8e8e8;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto; }
  .cards-section .card {
    width: 270px;
    height: 415px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    perspective: 600px;
    display: inline-block;
    margin-right: 28px; }
    .cards-section .card:last-of-type {
      margin-right: 0; }
    .cards-section .card .front, .cards-section .card .back {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      -moz-transition: -moz-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out; }
    .cards-section .card .front {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
      overflow: hidden;
      z-index: 1; }
      .cards-section .card .front .image {
        width: 270px;
        height: 270px;
        overflow: hidden; }
        .cards-section .card .front .image img {
          width: 100%;
          height: auto; }
      .cards-section .card .front .content {
        width: 100%;
        height: 145px;
        background-color: rgba(242, 242, 242, 0.75); }
        .cards-section .card .front .content .name {
          font-family: Montserrat;
          color: #29323c;
          font-size: 15px;
          font-weight: 700;
          line-height: 20px;
          text-align: center;
          padding-top: 28px; }
        .cards-section .card .front .content .position {
          font-family: Montserrat;
          color: rgba(41, 50, 60, 0.8);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: center; }
        .cards-section .card .front .content .social-bar {
          padding-top: 20px;
          text-align: center; }
          .cards-section .card .front .content .social-bar a {
            display: inline-block;
            text-decoration: none;
            width: 28px;
            height: 28px;
            color: #29323c;
            border-radius: 50%;
            text-align: center;
            line-height: 33px; }
            .cards-section .card .front .content .social-bar a i {
              font-size: 21px; }
            .cards-section .card .front .content .social-bar a:hover {
              color: rgba(242, 242, 242, 0.88);
              background-color: #29323c; }
    .cards-section .card .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 2;
      box-sizing: border-box; }
      .cards-section .card .back .back-info {
        text-align: justify;
        text-justify: inter-word;
        padding: 35px; }
        .cards-section .card .back .back-info p {
          font-family: 'Open Sans';
          color: #2b3746; }
      .cards-section .card .back .social-bar {
        text-align: center; }
        .cards-section .card .back .social-bar a {
          display: inline-block;
          text-decoration: none;
          width: 28px;
          height: 28px;
          color: #29323c;
          border-radius: 50%;
          text-align: center;
          line-height: 33px; }
          .cards-section .card .back .social-bar a i {
            font-size: 21px; }
          .cards-section .card .back .social-bar a:hover {
            color: rgba(242, 242, 242, 0.88);
            background-color: #29323c; }
    .cards-section .card.flip:nth-child(even) .front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    .cards-section .card.flip:nth-child(even) .back {
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
      -o-transform: rotateY(360deg);
      transform: rotateY(360deg); }
    .cards-section .card.flip:nth-child(odd) .front {
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    .cards-section .card.flip:nth-child(odd) .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }

/*# sourceMappingURL=style.css.map */
